* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: consolas; */
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}

h3 {
  position: absolute;
  margin-bottom: 100px;
  color: #fff;
  font-size: 40px;
}

button {
  position: relative;
  width: 160px;
  height: 50px;
  line-height: 48px;
  background: #000;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 4px;
  text-decoration: none;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00,  #fb0094, #00f, #0f0, #ff0, #f00);
  background-size: 400%;
  opacity: 0;
  transition: 0.5s;
  animation: animate 20s linear infinite;
}

button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00,  #fb0094, #00f, #0f0, #ff0, #f00);
  background-size: 400%;
  opacity: 0;
  filter: blur(20px);
  transition: 0.5s;
  animation: animate 20s linear infinite;
}

button:hover::before,
button:hover::after {
  opacity: 1;
}

@keyframes animate {
    0% {
      background-position: 0 0;
    }

    50% {
      background-position: 300% 0;
    }
}

button span {
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  text-align: center;
  background: #0c0c0c;
  color: rgba(255, 255, 255, 0.2);
  transform: 0.5s;
  z-index: 1;
}

button:hover span {
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

button span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  animation: modalFadeIn ease 3s;
  background-color: #000;
}

.modal.open {
  display: flex;
}

.modal h2 {
  display: flex;
  color: transparent;
  font-size: 15vw;
}

h2 span {
  animation: animated 3s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animated {
  0% {
    color: #fff;
    filter: blur(2px) hue-rotate(0deg);
    text-shadow: 0 0 10px #00b3ff,
    0 0 20px #00b3ff,
    0 0 40px #00b3ff,
    0 0 80px #00b3ff,
    0 0 120px #00b3ff,
    0 0 200px #00b3ff,
    0 0 300px #00b3ff,
    0 0 400px #00b3ff;
  }

  30%, 70% {
    color: #fff;
    filter: blur(2px) hue-rotate(360deg);
    text-shadow: 0 0 10px #00b3ff,
    0 0 20px #00b3ff,
    0 0 40px #00b3ff,
    0 0 80px #00b3ff,
    0 0 120px #00b3ff,
    0 0 200px #00b3ff;
  }

  100% {
    color: transparent;
    box-shadow: none;
    filter: blur(2px) hue-rotate(0deg);
  }
}

.modal button {
  position: absolute;
  bottom: 100px;
  color: #fff;
}

.modal button:hover {
  cursor: pointer;
}

@keyframes modalFadeIn {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(0px);
  }
}

